/* media for small pc */
@media(min-width:768px) and (max-width:992px) {
  .portfolio_title,.description p,.projects{
    left: 50px;
  }
} 

/* media for large pc */
@media(min-width:992px) and (max-width:1200px){
  .portfolio_title,.description p,.projects{
    left: 30px;
  }
}
  /* custom media */
  @media(min-width:840px) and (max-width:992px) {
    .portfolio_title,.description p,.projects{
      left: 140px;
    }
  }


  
/* mobile and tablette */

@media(max-width:768px){
  .portfolio_title,.description p,.projects{
  position: initial;
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
  }
  .portfolio_title{
    margin-top: 30px;
  }
  .portfolio_title h1{
    font-size: 40px;
  }
}
/* media for mobiles */
@media(max-width:576px){
  .floating-menu {
    padding-left: 10px;
    width: 79%;
  }
  .top-menu{
    width: 240px;
  }
  .vertical-menu span:first-child{
    width: 253px;
  }
  .section-top{
    /* position: fixed; */
    overflow-x: hidden;
    overflow-y: visible;
    right: 0;
    height: 480px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .container{
    padding: 0px;
  }
  .section-header::after{
    width: 300px;
    height: 300px;
    left: 10px;
  }
  .description p:before{
    left:18px;
    margin-top: 28px;
    top: initial;
  }
  .about_background img{
    width: 80%;
  }
  .about_background{
    text-align: center;
  }
  .about_content > * {
    text-align: center !important;
  }
  .skills h1{
    text-align: center;
  }
  .why_us_title {
    text-align: center;
  }
}

@media(min-width:576px){
  .floating-menu {
    padding-left: 10px;
    width: 60%;
  }
 
}
@media(min-width:992px){
  .floating-menu {
    padding-left: 10px;
    width: 45%;
  }
}

/* media for tablette */
@media(min-width:576px) and (max-width:768px){
  .description p:before{
    top: initial;
    margin-left: -11px ;
    left: initial;
    margin-top: 22px;
  }
}
/* media for tablette and up */ 

  @media(min-width:576px){
    /* .floating-menu{
        width: 100%;
    } */

    .section-header::after{
        left: 14%;
        width: 500px;
        height: 500px;
    }
    
  }
  @media(min-width:992px){
    .top-menu{
      width: 500px;
    }
    .section-header::after{
      left: 30%;
    }
    .social{
      width: 500px;
    }
    .social-media{
      width: 500px;
    }
  }
  

