@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* :root{
  --container-Width-Tablette:720px;
  --container-Width-pc:950px;
  --container-Width-large-pc:1350px;
} */

.pt-8{
    padding-top: 80px;
}
.pb-8{
    padding-bottom: 80px;
}
body{
    font-family: 'Poppins', sans-serif;
}

.services .container{
    padding-left: 12px;
    padding-right: 12px;
}


.overlay{
    position: absolute;
    background: black;
    height: 100vh;
    width: 100%;
    left: 0;
    z-index: 99;
    opacity: 0.4;
    top: 0;
    display: none;
}
.wraper{
    background: #f6f8fa;
}

.section-top{
    width: 100%;
    background: url('../img/shape_leftmiddle.png') left top;
    background-size: cover;
    height: 630px;
}
.section-top::after{
    content: "";
    background: url('../img/shape_leftmiddle.png') center top;
    position: absolute;
    top: 0;
    left: 0;
}
/* .section-header{
    background: url('../img/shape_leftmiddle.png') center top;
    background-size: cover;
    
} */

.right-header{
    display: flex;
    gap: 20px;
    align-items: center;
}
.call_to_action button {
    border: none;
    /* background: tra; */
    padding: 12px 40px;
    background: #ff5041;
    color: white;
}

.projects{
    position: absolute;
    top: 508px;
    left: 152px;
}
.projects button{
    border: none;
    padding: 12px 29px;
    border-radius: 5px;
    color: black;
    background: white;
    font-weight: bold;
}

.projects button:hover{
    background: #ff5041;
    border: none;
    color: white;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
}

.call_to_action button:hover{
   background: transparent;
   border: 1px solid;
   color: black;
   transition: background-color 0.5s;
   -webkit-transition: background-color 0.5s;
   -moz-transition: background-color 0.5s;
   -ms-transition: background-color 0.5s;
   -o-transition: background-color 0.5s;
}

.call_to_action button span:nth-child(2){
    padding-left: 10px;
}
.floating-menu{
    width: 35%;
    background:white;
    z-index: 999;
    display: none;
    position: fixed;
    height: 100%;
    transform:translateX(750px);
    -webkit-transform:translateX(750px);
    -moz-transform:translateX(750px);
    -ms-transform:translateX(750px);
    -o-transform:translateX(750px);
}
/* .section-header{
    height: 450px;
} */
.burger-menu{
    margin-right: 5px;
}

.burger-menu::before{
    content: "";
    position: absolute;
    background: url('../img/shape_topright.png');
}
.header-left,.burger-menu{
    margin-top: 25px;
}

.close-menu{
width: 30px;
height: 30px;
background: red;
align-items: center;
display: flex;
justify-content: center;
padding: 20px;
border-radius: 50%;
}
.close-menu:hover{
    background: #f6f8fa;
    /* border: 1px solid; */
    cursor: pointer;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
}
.close-menu:hover >i {
    color: #ff5041;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
}
.close-menu i{
    color: white;
}
.vertical-menu li{
  list-style: none;
  /* padding-left: 20px; */
  padding: 0px
}
.vertical-menu li ul{
    padding-left: 15px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    /* padding: 0; */
}

.vertical-menu span:first-child{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.plus-menu{
    width: 30px;
    height: 30px;
    /* background: white; */
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 19px;
    border-color: #F15B43 !important;
    outline: 1px solid #ebebeb;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

span.flex-gap.no-ul{
border: none;
}
.plus-menu i{
    /* outline: 1px solid #ebebeb; */
   color: black;
   font-size: 13px;
}


.plus-menu.active{
background:#F15B43;
}

.plus-menu.active i{
color: white;
}

.social{
width: 240px;
margin-left: auto;
margin-right: auto;
margin-top: 40px;
}    
.social h2{
font-weight: bold;
}

.social-icons{
padding: 10px;
}

.social-icon{
display: flex;
gap: 15px;
margin-bottom: 20px;
align-items: center;
}

.social-icon span{
width: 40px;
height: 40px;
display: flex;
justify-content: center;
background: white;
align-items: center;
box-shadow: 0px 10px 15px 0px rgb(0 0 0 / 10%);
border-radius: 50%;
}
.social-icon p{
margin: 0;
}

.social-icon span i{
color: #ff5041;
font-size: 18px;
}
.burger-menu{
margin-right: 0px;
}

.section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.burger-menu{
    margin-right: 5px;
}
.header-left,.burger-menu{
    margin-top: 25px;
}
.section-header::after{
    content: "";
    position: absolute;
    top: 100 px;
    top: 124px;
    left: 10;
    left: 10px;
    left: 10;
    height: 200px;
    border-radius: 50%;
    width: 200px;
    background: url(../img/hero_woman.png) right no-repeat;
    background-size: contain;
}

.section-header::before {
    content: "";
    position: absolute;
    background: url(../img/illustration_woman.png) center right;
    
}
.close-menu{
width: 30px;
height: 30px;
background: red;
align-items: center;
display: flex;
justify-content: center;
padding: 20px;
border-radius: 50%;
}
.close-menu i{
    color: white;
}
.vertical-menu li{
  list-style: none;
  padding: 0px
}
.vertical-menu li ul{
    padding-left: 15px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    /* padding: 0; */
}

.vertical-menu span:first-child{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.plus-menu{
    width: 30px;
    height: 30px;
    /* background: white; */
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 19px;
    border-color: #F15B43 !important;
    outline: 1px solid #ebebeb;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

span.flex-gap.no-ul{
border: none;
}
.plus-menu i{
    /* outline: 1px solid #ebebeb; */
   color: black;
   font-size: 10px;
}


.plus-menu.active{
background:#F15B43;
}

.plus-menu.active i{
color: white;
}

.social{
width: 240px;
margin-left: auto;
margin-right: auto;
margin-top: 40px;
}    
.social h2{
font-weight: bold;
}

.social-icons{
padding: 10px;
}

.social-icon{
display: flex;
gap: 15px;
margin-bottom: 20px;
align-items: center;
}

.social-icon span{
width: 40px;
height: 40px;
/* border: 1px solid; */
display: flex;
justify-content: center;
/* padding: 10px; */
background: white;
/* box-shadow: 0px 3px 4px 2px #c7b2b2; */
align-items: center;
box-shadow: 0px 10px 15px 0px rgb(0 0 0 / 10%);
border-radius: 50%;
}
.social-icon p{
margin: 0;
}

.social-icon span i{
    color: #ff5041;
    /* transform:rotate(0deg) ;
    -webkit-transform:rotate(0deg) ;
    -moz-transform:rotate(0deg) ;
    -ms-transform:rotate(0deg) ;
    -o-transform:rotate(0deg) ; */
}
.social-media span:hover > i{
 animation-name: rotate_icon;
 animation-duration: 0.3s;
 animation-timing-function: linear;
 background:#ff5041 ;
 color: white;
 cursor: pointer;  
}
.social-icon p{
    font-weight: bold;
}
.social-icon:nth-child(2) p:hover,.social-icon:nth-child(3) p:hover {
    color: #ff5041;
    cursor: pointer;
}
/* .container{
max-width: var(--container-Width-Tablette);
} */
.burger-menu{
margin-right: 0px;
}
.top-menu{
display: flex;
justify-content: space-between;
margin-top: 15px;
width: 400px;
margin-left: auto;
margin-right: auto;
}
.close-menu{
width: 30px;
height: 30px;
background: red;
align-items: center;
display: flex;
justify-content: center;
padding: 20px;
border-radius: 50%;
}


.social-media{
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 15px;
    padding: 10px;
    margin-bottom: 20px;
}

.social-media span i{
    padding: 8px 10px 8px 10px;
    background: #e7e7e7;
    border-radius: 4px;
    color: #415674;
}
.menu{
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    gap: 40px;
   
}




.burger-menu{
    height: 42px;
    width: 40px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.burger-menu:hover > span{
    background: red;
    width: 36px !important;
    max-width: 36px !important;
    transition: width 0.5s linear;
    /* align-self: baseline !important; */
    left: 0px !important;
    -webkit-transition: width 0.7s linear;
    -moz-transition: width 0.5s linear;
    -ms-transition: width 0.5s linear;
    -o-transition: width 0.5s linear;
}


.burger-menu span{
    display: block;
    height: 4px;
    background: black;
   
}
.burger-menu span:first-child{
    width: 30px;
    /* align-self: flex-end; */
    position: relative;
    left: 5px;

}
.hide{
    display: none;
    }
    
.flex-gap{
   
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    
}



/* .flex-gap + ul{
    display: none;
} */
.flex-gap a{
    display: flex;
    align-items: center;
    text-decoration: none;
   
    color: #080201;
    font-weight: bold;
}

.flex-gap + ul li{
    padding: 7px !important;
    border-bottom: 1px solid #ebebeb;
    color: #080201;
    /* font-weight: bold; */

}
.burger-menu span:nth-child(2){
  width: 35px;
  margin-top: 7px;
  
 
}
.burger-menu span:last-child{
    width: 25px;
    margin-top: 7px;
}

.header-menu{
    margin-bottom: 0px;
}

.header-menu li{
    display: inline-block;
    font-size: 18px;
    padding-right: 10px;
    font-weight: bold;
}

.header-menu li:hover{
    color: #ff5041;
    cursor: pointer;
}
.dropdown {
    position: absolute;
    padding: 0;
    /* display: none; */
    background: white;
    width: 194px;
    z-index: 99;
    background: #FFF3F2;
    margin-top: 20px;
    border-top: 5px solid #ff5041;
    /* text-align: center; */
    box-shadow: 0 13px 29px 0 rgb(0 0 0 / 18%);
}
.dropdown li{
    display: block;
    padding: 10px 25px 10px 25px;
}
.dropdown li a:hover{
    color: #ff5041;
    cursor: pointer;
}
.dropdown li a {
    text-decoration: none;
    color: #212529;
}
.dropdown{
    display: none;
}
.hide_ul{
    display: block;
}

.portfolio_title{
position: absolute;
top: 232px;
}

.portfolio_title h1{
    font-weight: bold;
    font-size: 68px;
    letter-spacing: 3px;
}

.description p{
    font-size: 18px;
    max-width: 280px;
    position: absolute;
    top: 406px;
    left: 155px;
    right: 0px;
}
.description p:before{
    height: 42px;
    position: absolute;
    content: "";
    width: 1px;
    border-left: 3px solid #ff5041;
    top: 18px;
    /* margin-right: 6px; */
    left: -26px;

}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}

.content h2{
    text-align: center;
    /* font-family: 'Pushster', cursive; */
    /* font-family: 'Anton', sans-serif; */
    font-family: 'Inconsolata', monospace;
}
.services .service-item{
    text-align: center;
}
.service-item span:hover{
    background: #F15B43;
    transition: background-color 0.4s;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -ms-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
}
.service-item span:hover i{
    transition: background-color 0.4s;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -ms-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    color: white;
}
.service-item span{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-bottom: 20px;
    align-items: center;
    margin-right: auto;
    border-radius: 50%;
    background: #fff3f2;
}
.service-item span i{
    font-size: 52px;
    color: #ff5041;
}
.service-item p:first-of-type{
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}
/* .service-item p:nth-child(2){

} */
@keyframes float_menu {
    from{
        transform: translateX(750px);
        -webkit-transform: translateX(750px);
        -moz-transform: translateX(750px);
        -ms-transform: translateX(750px);
        -o-transform: translateX(750px);
}
to{
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
}

}

@keyframes float_menu_inverse{

    from{
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);         
    }

    to{
        transform: translateX(750px);
        -webkit-transform: translateX(750px);
        -moz-transform: translateX(750px);
        -ms-transform: translateX(750px);
        -o-transform: translateX(750px);
}
}


@keyframes rotate_icon {
    
    from{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}

to{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
}